In [3]:
import pandas as pd

countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)
print(countries[::-2])

KZ    Казахстан
UA      Украина
US          США
UK       Англия
Name: countries, dtype: object

In [5]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
countries_df.to_csv('data/countries.csv', index=False, sep=';')

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия      146.24  17125191
UA    Украина       45.50    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

In [61]:
countries_data = pd.read_csv('data/countries.csv', sep=';')
countries_data

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [4]:
data = pd.read_csv('data/melb_data.csv')
print(round(data.loc[3521, 'Landsize']/data.loc[1690, 'Landsize'], 0))
#data.loc[['1','3'], ['Adrress','Rooms', 'Price']]
print(data.info())

3.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  object
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  float64
 12  Bathroom       13580 non-null  float64
 13  Car            13580 non-null  float64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  float64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  float64
 22  Coordinates    13580 non-null  object
dtypes: float64(11), int64(3), object(9)
memory usage: 2.4+ MB
None

In [60]:
print(data['Type'].value_counts(normalize=True))

h    0.695803
u    0.222165
t    0.082032
Name: Type, dtype: float64

In [36]:
print(data.head(1))
print(data['Propertycount'].max())
print(round(data['Distance'].std()))
print(round(abs(data['BuildingArea'].median()/data['BuildingArea'].mean() - 1)*100))
#test_DF = pd.DataFrame([1, 2, 4, 2, 3, 2, 1, 5, 6])
#print(test_DF.mode())
print(data['Bedroom'].mode())

   index      Suburb       Address  Rooms Type      Price Method SellerG  \
0      0  Abbotsford  85 Turner St      2    h  1480000.0      S  Biggin

        Date  Distance  ...  Car  Landsize  BuildingArea  YearBuilt  \
0  3/12/2016       2.5  ...  1.0     202.0         126.0     1970.0

   CouncilArea  Lattitude  Longtitude             Regionname  Propertycount  \
0        Yarra   -37.7996    144.9984  Northern Metropolitan         4019.0

          Coordinates
0  -37.7996, 144.9984

[1 rows x 23 columns]
21650.0
6
10
0    3.0
dtype: float64

In [37]:
print(data[data['Bathroom'] == 0].shape[0])
print(data[(data['Price']>3000000) & (data['SellerG'] == 'Nelson')].shape[0])
print(data[data['BuildingArea'] == 0]['Price'].min())
mask_84 = ((data['Price']<1000000) & ((data['Rooms']>5) | (data['YearBuilt']>2015)))
print(round(data[mask_84]['Price'].mean()))
mask_85 = ((data['Type'] == 'h') & (data['Price']<3000000))
print(data[mask_85]['Regionname'].mode())

34
5
412500.0
769239
0    Northern Metropolitan
dtype: object

In [69]:
data_students = pd.read_csv('data/students_performance.csv')
print(data_students.head())
print(data_students[data_students['math score'] == 0].shape[0])
print(data_students['parental level of education'].value_counts(normalize=True))
print(round(data_students[data_students['lunch']=='standard']['math score'].mean())\
      , round(data_students[data_students['lunch']=='free/reduced']['math score'].mean()))
print(round(abs(data_students[data_students['race/ethnicity']=='group A']['writing score'].median()\
      - data_students[data_students['race/ethnicity']=='group C']['writing score'].mean())))

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75
1
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64
70 59
6