In [1]:
import pandas as pd
from IPython import display

In [12]:
df = pd.read_csv('data/test.csv')
df.head()

        one       two     three four five
0  1.331587  0.715279 -1.545400  bar  NaN
1       NaN       NaN  1.000000  NaN  NaN
2 -0.008384  0.621336 -0.720086  bar  NaN
3  1.000000  0.500000  0.500000  NaN  NaN
4  0.265512  0.108549  0.004291  bar  yes

In [17]:
df_res = df.copy()
n_col = df_res.shape[0] * 0.5
df_res = df_res.dropna(how=any, thresh=n_col, axis=1)
n_row = df_res.shape[1]
df_res = df_res.dropna(how=any, thresh=n_row-2, axis=0)
values = {
    'one': df_res['one'].mean(),
    'two': df_res['two'].mean(),
    'four': df_res['four'].mode()[0]
}
df_res = df_res.fillna(values)
print(df_res)

        one       two     three  four
0  1.331587  0.715279 -1.545400   bar
2 -0.008384  0.621336 -0.720086   bar
3  1.000000  0.500000  0.500000   bar
4  0.265512  0.108549  0.004291   bar
5 -0.174600  0.433026  1.203037   bar
6  0.241508  0.567744  1.200000  hist
7 -0.965066  1.028274  0.228630   bar