In [2]:
import pandas as pd
bike_data = pd.read_csv('data/citibike-tripdata.csv')
bike_db = bike_data.copy()

In [4]:
bike_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [8]:
bike_db['usertype'].value_counts(normalize=True)

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

In [20]:
print(bike_db['start station id'].nunique(), bike_db['end station id'].nunique())
print(2022 - bike_db['birth year'].max())
print(bike_db['start station name'].unique()[-1])
print(bike_db['end station name'].unique()[0])

759 765
20
Eastern Pkwy & Washington Ave
Clinton Ave & Myrtle Ave

In [28]:
#bike_db.drop(['start station id', 'end station id'], axis=1, inplace=True)
bike_db.count(axis=1)[0]

12

In [33]:
bike_db['age'] = 2018 - bike_db['birth year']
clients_over_60 = bike_db[bike_db['age']>60].count()[0]
clients_over_60

11837

In [40]:
bike_db.drop('birth year', axis=1, inplace=True)

In [55]:
bike_db['starttime'] = pd.to_datetime(bike_db['starttime'])
bike_db['stoptime'] = pd.to_datetime(bike_db['stoptime'])

In [58]:
bike_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
 12  trip duration            300000 non-null  timedelta64[ns]
dtypes: datetime64[ns](2), float64(4), int64(3), object(3), timedelta64[ns](1)
memory usage: 29.8+ MB

In [80]:
time_in_way = bike_db['stoptime'] - bike_db['starttime']
print(time_in_way.mean().seconds)
bike_db['trip duration'] = time_in_way.dt.seconds
round(bike_db['trip duration'].mean(),0)

1126

1000.0

In [91]:
bike_db['weekend'] = bike_db['starttime'].apply(lambda x: 0 if x.dayofweek in range(5) else 1)
bike_db['weekend'].sum()

115135